@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
p,
b,
ul,
li,
i,
input,
ol {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

 :root {
    --popins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

span,
a,
b {
    display: inline-block;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: #000;
}

a:hover,
a:focus {
    text-decoration: inherit;
}

a {
    text-decoration: inherit;
}

.post_withe_carousel {
    padding-top: 45px;
}

.weekly_news.section_padding {
    padding-top: 100px;
}

.fetures {
    margin-top: 40px;
}

.item_name span {
    font-size: 14px;
    padding: 8px 20px;
    display: inline-block;
    color: #fff;
}

.maro_border {
    border: 1px solid #ddd;
}

.mr .item_name {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 3px 3px 0;
}

.item_name span::after {
    content: "";
    clip-path: polygon(18% 0, 0 0, 0 40%);
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #840b75;
    top: 100%;
    left: 0;
}

.item_name span.tech::after {
    background: #840b75;
}

.item_name span.tech {
    background-color: #840b75;
}

.item_name span.world::after {
    background: #ff0023;
}

.item_name span.world {
    background-color: #ff0023;
}

.item_name span.coummunity::after {
    background: #ff7300;
}

.item_name span.coummunity {
    background: #ff7300;
}

.item_name span.support::after {
    background: #4ca80b;
}

.item_name span.support {
    background: #4ca80b;
}

.item_name span.travel::after {
    background: #08f;
}

.item_name span.travel {
    background: #08f;
}


/* =======weekly_news start====*/

.weekly_news_header {
    display: flex;
    justify-content: space-between;
    background: #f9f9f9;
}

.weekly_news_header.health {
    margin-top: 30px;
}

.weekly_news_header_right ul {
    display: flex;
    height: 100%;
    align-items: center;
}

.weekly_news_header_right ul li a {
    color: #848484;
    font-size: 13px;
}

.weekly_news_header_left h3 a {
    font-size: 14px;
    padding: 13px 15px;
    background: #08f;
    color: #fff;
    font-weight: 500;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.weekly_news_header_left h3 a::before {
    content: "";
    clip-path: polygon(18% 0, 0 0, 0 40%);
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #08f;
    top: 100%;
    left: 0;
}

.weekly_news_header_left h3 {
    margin-bottom: inherit;
    height: 100%;
}

.weekly_news_header_right ul li {
    padding: 13px 15px;
    cursor: pointer;
}

.weekly_news_header_right ul li.active,
.weekly_news_header_right ul li.active a {
    color: #007bbd;
    cursor: default;
}

.news_card_review a {
    font-size: 12px;
    padding: 4px 10px;
    background: #08f;
    color: #fff;
    font-weight: 500;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.news_card_review {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news_card_status ul li {
    margin-right: 15px;
}

.news_card_status ul {
    display: flex;
    margin-top: -4px;
    margin-bottom: -10px;
}

.news_card>div {
    margin-top: 20px;
}

.review li {
    color: #F6BC3E;
}

.news_card_titel a {
    color: #000;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -0.1px;
    line-height: 22px;
    font-family: var(--popins);
}

.news_card_status ul li {
    font-size: 12px;
}

.news_card_pra p {
    color: #7a7a7a;
}

.news_card_wrapper {
    padding-top: 28px;
}

.news_card_status ul li {
    color: #7a7a7a;
}

.news_card_status ul li.fire {
    color: #c44b2d;
}

li.fire i {
    margin-right: 4px;
}

.news_card_bootm a {
    border-bottom: 1px solid #ddd;
    width: 100%;
    position: relative;
}

.news_card_bootm a i {
    font-size: 28px;
    position: absolute;
    right: 0;
    background: #007bbd;
    color: #fff;
    line-height: 24px;
    padding: 0 10px;
    top: -12px;
}

.news_card_wrapper .row>* {
    padding: 0 15px;
}

.post_info li {
    margin-right: 10px;
    color: #adb5bd;
    font-size: 14px;
}

.post_info li i {
    margin-right: 10px;
}

.helth_card {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.post_titel {
    font-size: 16px;
    margin-top: 14px;
}

.socials {
    display: flex;
    margin-top: 20px;
    justify-content: end;
    margin-right: 20px;
}

.socials li {
    height: 24px;
    width: 24px;
    background-color: red;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-right: 6px;
    color: #fff;
}

.socials li.facbook {
    background-color: #5776B7;
}

.socials li.twitter {
    background-color: #50cef8 !important;
}

.socials li.globe {
    background-color: #1572b8 !important;
}

.socials li.pintarest {
    background-color: #ba090a !important;
}

.helth_card {
    display: flex;
}

.helth_card_img {
    width: 40%;
}

.helth_card_content {
    width: 60%;
    padding-left: 12px;
}

.post_info {
    margin-top: 10px;
}

.news_card_wrapper .owl-dots .owl-dot span {
    width: 13px;
    height: 13px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    border: 2px solid #d5d5d5;
    background: transparent;
}

.news_card_wrapper .owl-dots .owl-dot.active span {
    background-color: #007bbd;
}

.temp {
    font-size: 81px;
    font-weight: 500;
    font-family: var(--roboto);
}

.wether_icon i {
    font-size: 65px;
}

.prev_wether_icon {
    width: 33.33%;
    border-right: 1px solid #eeee;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;
    ;
    transition: .4s;
}

.prev_wether_icon:hover {
    background-color: #f2f1f1;
}

.prev_wether_icon span {
    font-size: 14px;
    color: rgb(44, 47, 52);
    font-weight: 400;
}

.prev_wether_icon .wether_icon i {
    font-size: 42px;
    color: rgb(44, 47, 52);
}

.prev_wether_icon:nth-child(3) {
    border: none;
}

.city_name h3 {
    margin-left: 10px;
}

.city_name::after {
    margin-left: 10px;
    position: relative;
    content: "";
    height: 3px;
    width: 18px;
    background: #fff;
    top: 16px;
}

.item .item_name {
    position: absolute;
}

.wether_status span {
    font-size: 14px;
}

.prev_wether_icon span {
    text-transform: uppercase;
}

.prev_wether_status_icon {
    border-bottom: 1px #eee solid;
}

.maro_right_content {
    color: #fff;
    padding: 20px;
    position: relative;
    background-size: cover;
    z-index: 1;
}

.maro_right_content::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #3f6da6bb;
    z-index: -1;
    transition: .3s;
}

.maro_right_content:hover::before {
    background-color: #3d6aa268;
}

.maro_right_box {
    padding: 30px;
}

.maro_right_titel h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--popins);
    display: inline-block;
    border-bottom: 1px #08f solid;
    padding-bottom: 4px;
}

.maro_right_titel h4>i {
    margin-right: 6px;
}

.popular_item ul li>a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item_name>i {
    transform: rotate(-90deg);
    margin-right: 4px;
}

.popular_item ul li a .popular_item_count {
    background: red;
    display: flex;
    justify-content: center;
    padding: 2px 5px;
    color: #fff;
    border-radius: 2px;
    align-items: center;
    font-size: 12px;
}

.popular_item ul li:nth-child(1) a .popular_item_count {
    background: rgb(0, 0, 0);
}

.popular_item ul li:nth-child(2) a .popular_item_count {
    background-color: #08f;
}

.popular_item ul li:nth-child(3) a .popular_item_count {
    background-color: #840b75;
}

.popular_item ul li:nth-child(4) a .popular_item_count {
    background-color: #08f;
}

.popular_item ul li:nth-child(5) a .popular_item_count {
    background-color: rgb(43, 255, 0);
}

.popular_item ul li:nth-child(6) a .popular_item_count {
    background-color: rgb(55, 71, 84);
}

.popular_item ul li:nth-child(7) a .popular_item_count {
    background-color: rgb(212, 0, 255);
}

.popular_item ul>li {
    margin: 12px 0;
}

.popular_item ul li>a .item_name {
    font-size: 14px;
}

.subscribetion form>.email {
    padding: 10px 16px;
    border-radius: 16px;
    border: none;
    border: 1px solid #ddd;
    font-size: 12px;
    width: 100%;
}

.subscribetion form>.email:focus {
    border-width: 1px;
    outline: none;
    border-color: #007bbd;
}

.subscribetion>form {
    position: relative;
}

.subscribetion form>.submit {
    padding: 10px 16px;
    border: none;
    border: 1px solid #ddd;
    margin-left: -5px;
    border-radius: 0 16px 16px 0;
    background: #007bbd;
    color: #fff;
    border-color: #007bbd;
    font-family: var(--popins);
    font-size: 12px;
    position: absolute;
    right: 0;
}

.newsletter_content>i {
    font-size: 65px;
    margin: 21px 0;
}

.newsletter_content>i {
    font-size: 65px;
    margin: 21px 0;
}

.newsletter_content p {
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 16px;
}

.popular_catagorise.maro_right_box {
    border-bottom: 1px solid #ddd;
}

.newsletter {
    background-color: #f5f5f5;
}

.maro_tags ul li {
    border: 1px #ddd solid;
    border-radius: 2px;
    padding: 6px 14px;
    margin-right: 6px;
    margin-bottom: 9px;
    font-weight: 400;
    font-family: var(--popins);
    font-size: 14px;
    color: #999;
}

.maro_right_content {
    padding-bottom: 62px;
}

.popular_item {
    margin-top: 25px;
}

.maro_tags ul {
    margin-top: 25px;
}

.owl-carousel .owl-item img {
    width: auto;
    display: block;
}


/* =======weekly_news end====*/


/* ========post_item start====== */

.post_item {
    position: relative;
}

.post_item .post_item_content {
    position: absolute;
    top: 0;
    background-color: #fff;
}

.post_item_content>.news_card_status ul {
    margin-top: inherit;
    margin-bottom: inherit;
    justify-content: center;
}

.post_item img {
    width: 100% !important;
}

.post_item .post_item_content {
    position: absolute;
    top: 50%;
    background-color: rgba(255, 255, 255, .85);
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    max-width: 520px;
    width: 100%;
    text-align: center;
    padding: 70px 90px;
}

.post_item_content::before {
    content: '';
    border: 1px solid #fff;
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    transition: .5s;
}

.post_item_content:hover::before {
    opacity: 0;
    transform: scale(1.05);
}

.post_item .post_item_content .news_card_status {
    margin-top: 40px;
}

.post_info li {
    font-family: var(--roboto);
}

.post_item_content .post_info li {
    color: #787a7c;
    font-size: 12px;
}


/* ========post_item end====== */


/* ======what's new start====== */

.whats_new .news_card_img img {
    width: 100%;
}

.whats_new_card>div:nth-child(n+3) {
    margin-top: 23px;
}

.most_viewd_slider .item img {
    width: 95% !important;
}

.most_viewd_slider .item {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    text-align: center;
    top: 35px;
    flex-direction: column;
}

.most_viewd_slider .item::before {
    content: "\f06d";
    position: absolute;
    top: 0;
    transform: translate3d(-50%, -50%, 0);
    width: 34px;
    height: 34px;
    background-color: #f90909;
    border-radius: 50%;
    right: 50%;
    left: 50%;
    z-index: 9;
    font-family: "Font Awesome 5 Pro";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #fff;
}

.most_viewd_slider .item .news_card_status ul {
    margin: 14px auto;
}

.most_viewd_slider .owl-dots .owl-dot span {
    width: 13px;
    height: 13px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    border: 2px solid #d5d5d5;
    background: transparent;
}

.most_viewd_slider .owl-dots .owl-dot.active span {
    background-color: #007bbd;
}

.most_viewd_slider .owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.most_viewd_slider .item>h4 a {
    font: 500 18px var(--roboto);
    padding: 0 40px;
}

.maro_right_add {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.stay_withe_us .socials li {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    /* margin-top: 25px; */
}

.stay_withe_us .socials li span {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-left: 11px;
    font-weight: bold;
}

.stay_withe_us .socials li a {
    width: 100%;
}

.stay_withe_us .socials li a i {
    height: 55px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stay_withe_us .socials {
    flex-wrap: wrap;
    justify-content: inherit;
    margin: inherit;
}

.stay_withe_us .socials .row>div {
    margin-bottom: inherit;
    padding: 3px 2px;
}

.flicker_img_box {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    margin-top: 20px;
}

.flicker_img {
    overflow: hidden;
}

.flicker_img img {
    width: 100%;
    transition: .3s;
}

.flicker_img img:hover {
    transform: scale(1.1);
}

.socials .row {
    padding: 0 9px;
    margin-top: 20px;
}

.stay_withe_us {
    border-bottom: 1px solid #ddd;
}


/* ======what's new end====== */


/* =======popular_video_box start======== */

.popular_video_show {
    position: relative;
}

.popular_video_show img {
    width: 100% !important;
    position: relative;
}

.popular_video_show::before {
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.15); */
    z-index: 1;
    position: absolute;
    transition: .5s;
}

.popular_video_show::after {
    content: "\f04b";
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 34px;
    height: 34px;
    /* background-color: #f90909; */
    border-radius: 50%;
    right: 50%;
    left: 50%;
    z-index: 9;
    font-family: "Font Awesome 5 Pro";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #fff;
    transition: .5s;
}

.popular_video_show:hover::before {
    opacity: 0;
}

.popular_video_url_hash {
    display: flex;
    margin-top: 5px;
}

.popular_video_url_hash a {
    width: 120px;
    height: auto;
    position: relative;
    /* z-index: 1; */
}

.popular_video_url_hash a::before {
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.669);
    /* z-index: 1; */
    position: absolute;
    transition: .5s;
}

.popular_video_url_hash a::after {
    content: "\f04b";
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 34px;
    height: 34px;
    /* background-color: #f90909; */
    border-radius: 50%;
    right: 50%;
    left: 50%;
    z-index: 9;
    font-family: "Font Awesome 5 Pro";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    transition: .5s;
}

.popular_video_url_hash a:hover::before {
    opacity: 0;
}

.video_gallery_left>div a {
    width: 100%;
    transition: .5s;
}

.video_gallery_left>div a img {
    width: 100%;
}

.video_gallery .row>div:nth-child(2) {
    border: 1px solid #fff;
    box-sizing: border-box;
}

.video_gallery .row>div:nth-child(2) a {
    width: 100%;
    transition: .5s;
}

.video_gallery .row>div:nth-child(2) a img {
    width: 100%;
}

.video_gallery .row>div:nth-child(3) a {
    transition: .5s;
    width: 100%;
}

.video_gallery .row>div:nth-child(3) a img {
    width: 100%;
}

.video_gallery>.row {
    padding: 0;
    margin: 0;
}

.video_gallery>.row>div {
    padding: 0;
    margin: 0;
}

.video_gallery_left>div {
    border: 2px solid #fff;
    box-sizing: border-box;
}

.video_gallery_left>div,
.video_gallery_right>div {
    border: 1px solid #fff;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.video_galler_center {
    position: relative;
    overflow: hidden;
}

.video_gallery_center,
.video_gallery_left>div,
.video_gallery_right>div {
    position: relative;
    overflow: hidden;
}

.video_gallery_center::after,
.video_gallery_left>div::after,
.video_gallery_right>div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.546);
    transition: all .4s linear !important;
}

.video_gallery_left>div a img,
.video_gallery_right>div a img,
.video_gallery_center a img {
    transition: all .4s linear;
}

.video_gallery_left>div:hover a img,
.video_gallery_right>div:hover a img,
.video_gallery_center:hover a img {
    transform: scale(1.2);
}

.video_gallery_left>div:hover::after,
.video_gallery_right>div:hover::after,
.video_gallery_center:hover::after {
    opacity: 0;
}

.video_gallery_right>div>span,
.video_gallery_left>div>span,
.video_gallery_center span {
    position: absolute;
    z-index: 9;
    color: #fff;
    transform: translate3d(-50%, -50%, 0);
    left: 50%;
    top: 50%;
}

.video_gallery_right>div>span:hover a,
.video_gallery_left>div>span:hover a,
.video_gallery_center span:hover a {
    color: #fff;
}

.popular_video_box {
    margin-top: 25px;
}

.weekly_news_header.video {
    margin: 35px 0;
}

.whats_new_card .news_card_review {
    display: none;
}


/* =======popular_video_box end========== */


/* ======footer_section_start-===== */

footer {
    background: #1f2024;
}

.most_viewed_post .footer_titel {
    color: #fff;
}

.most_viewed_post .footer_titel h4 {
    font-size: 16px;
    position: relative;
    padding-bottom: 10px;
}

.most_viewed_post .footer_titel h4::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(45, 45, 45);
}

.most_viewed_post .footer_titel h4::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    height: 2px;
    background-color: #fff;
}

.footer_top.section_padding {
    padding: 150px 0;
}

.time_line>.post_titel>li {
    color: #fff;
    position: relative;
    margin-bottom: 10px;
}

.time_line>.post_titel>li::before {
    content: "";
    left: -20px;
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    top: 2px;
    border: 3px solid #ddd;
    transition-duration: 0.3s;
    background: #27292d;
    border-color: rgba(0, 0, 0, 0.3);
}

.time_line>.post_titel>li a:hover h4 {
    color: #007bbd;
}

.time_line>.post_titel>li:hover::before {
    background-color: #007bbd;
}

.time_line>.post_titel>li a i {
    font-size: 12px;
    color: #777;
}

.time_line>.post_titel>li a span {
    font-size: 12px;
    color: #777;
}

.time_line>.post_titel>li a h4 {
    font-size: 16px;
}

.time_line>.post_titel {
    position: relative;
}

.time_line>.post_titel::before {
    position: absolute;
    content: "";
    left: -15px;
    top: 6px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    width: 3px;
}

.modifi_post .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    border: 1px solid #8d8a8a;
    background: transparent;
}

.modifi_post .owl-dots {
    justify-content: center;
    text-align: center;
}

.modifi_item {
    position: relative;
}

.modifi_item a {
    width: 100%;
}

.modifi_item a img {
    width: 100% !important;
}

.modifi_item span {
    position: absolute;
    bottom: 0;
    color: #fff;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    display: block !important;
    width: 100%;
    background: #000000b5;
    padding: 7px 0;
    text-align: center;
    font-family: var(--popins);
    font-size: 14px;
    font-weight: 500;
}

.modifi_post .owl-dots .owl-dot.active span {
    background-color: #007bbd;
}

.most_viewed_post.maro_tags ul li {
    font-size: 12px;
    color: #fff;
    padding: 5px 14px;
}

.recent_post ul li {
    display: flex;
}

.recent_post_img {
    width: 25%;
}

.recent_post_titel {
    width: 75%;
}

.recent_post ul li {
    color: #fff;
    margin-bottom: 10px;
}

.recent_post_img img {
    display: block;
    width: 130px;
    height: auto;
}

.recent_post_titel span {
    font-size: 14px;
    font-weight: 500;
    margin-left: 35px;
    margin-right: 60px;
}

.recent_post_titel span:nth-child(2) {
    font-size: 12px;
    color: #777;
}

.recent_post_titel span:nth-child(2) i {
    margin-right: 5px;
}

.footer_bottom {
    background: #111;
}

.copyright span a {
    color: #fff;
    /* font-size: 14px; */
}

.footer_bottom {
    color: #fff;
    padding: 20px 0;
}

.footer_bottom ul li a {
    text-transform: capitalize;
    margin-right: 15px;
}

.copyright span {
    font-size: 12px;
    color: #337ab7;
    font-weight: 500;
}


/* ======footer_section_end */